<div class="jumbotron">
    <h1>Let's Talk Angular</h1>
    <p class="lead">
        <em>An in-depth look at how the Tutorials page was created</em>
        <br>
        <img src="http://res.cloudinary.com/buddahbelly/image/upload/v1423072364/brilliantbritz/angular-js.png" style="height: 300px; width: 300px; alt="
        AngularJS ">
  </p>
</div>

<div class="container ">
  <h2 class="text-center ">What is Angular?</h2>
  <div class="col-xs-6 ">
  AngularJS is a library that you can use to greatly enhance the ability of HTML and it's functionality. HTML on its own -- even when paired with JavaScript -- is often
  not powerful enough to fulfill the needs of developers today. AngularJS introduces functionality such as data-binding, views, and so much more.
  </div>
  <div class="col-xs-6 " style="margin-bottom: 25px ">
  Angular on its own is very powerful. However, there are many different plugins that you can choose to incorporate with Angular. When you pair this with Bootstrap or any other
  common framework/library available to developers, Angular makes your web development arsenal a force to be reckoned with.
  </div>
  
  <h3 class="text-center ">Tutorials.json</h3>
  <div class="col-xs-12 ">How do we get this...</div><br><br>
  <img src="images/tutorialsjson.png " class="text-center img-responsive img-rounded "><br><br>
  <div class="col-xs-12 ">To this?</div><br><br>
  <img src="images/tutorialsrender.png " class="text-center img-responsive img-rounded "><br><br>
  
  <div class="col-xs-12 ">
      AngularJS makes this very simple. There are a few assumptions this blog post is making about your current setup:<br>
      <ol>
          <li>You know about HTML, Javascript, and JSON.</li>
          <li>You generated a template from Yeoman for Angular</li>
          <li>You are a badass web developer in the making</li>
       </ol>          
       
       If this is true, then lets continue on!
  </div>
       
  <div class="col-xs-12">
      <h3 class="text-center">Routing and biews</h3>
      <p>AngularJS uses something very similar to ASP.NET's MVC framework. It uses different "views" to render what is on the screen dynamically. In our case, 
      index.html acts as a sort of layout for every page. This includes the footer, the navbar at the top of this page, and other similar items. All of the scripts
      and CSS styling documents needed to make the page work are included in the index.html as well.</p>
      <div class="col-xs-3"><img src="images/viewsdirectory.png" class="text-center img-responsive img-rounded"></div>
      <div class="col-xs-9">If you look here, you can see that our current views are about.html and main.html. This means that the site knows about two views
          that can be displayed to the user. Let's create another view.</div>
      <p>Create a new HTML file in the views directory titled tutorial.html. You'll also need to create a new file on the scripts/controllers file named tutorial.js and declare a controller
          named "TutorialCtrl" in that file.</p>  
      <p>Once you've done that, we need to tell our Angular application that you've created a new view and controller for that view. This is what is called routing. If you 
          try to navigate to a route that you've defined, Angular will take that and render the view in the section of your index.html that you specify for views. Add this 
          snippet of code to your app.js file below your angular.module declaration:</p>
          <pre>.when('/tutorial', {
          templateUrl: 'views/tutorial.html',
          controller: 'TutorialCtrl',
          controllerAs: 'tutorial'
          })</pre>
          <p>Once this is done, create a list item in your navbar in your index.html with an ng-href of "#/tutorial". Once you've done this, your Angular app will know about
              the route you've defined for the tutorials view and will render it whenever you click your link in the navbar for it! Easy, right?</p>
              <h3 class="text-center">Making data accessible</h3>
          <p>This would all be great if there was something IN your tutorial view. We've just got an empty tutorial.html file right now. Let's fix that.</p>
          <p>We need the data that will be rendered in each of these tutorial items before we can tell Angular to render the objects and their properties on an HTML page.
             Take the contents of <a href="tutorials.json">tutorials.json</a> and paste them into a variable called "tutorials" within app.js. Then, go into your controller for your 
             tutorial.js and set this.tutorials = tutorials. This will set the tutorials within the tutorial page to the tutorials you just added to app.js.
             <div class="col-xs-6">
                 <pre>var tutorials = [
	{
url: "http://tutorials.jenkov.com/angularjs/index.html",
title: "AngularJS Tutorial",
image: "http://tutorials.jenkov.com/images/layout/small-portrait_mini.jpg",

...</pre>
        </div>
        <div class="col-xs-6">
            <pre>.controller('TutorialCtrl', function () {   
this.tutorials = tutorials;
  });
  
  
  
  
  </pre>
  </div>
  
  <p>Now we have data that we can work with! This is the easy part. Navigate into your tutorial.html file in your views, and create an element - a div, a list, anything -- 
      and specify an <code>ng-repeat="tut in tutorial.tutorials"</code>. This essentially says "create one of these elements for every object in this array."</p>
  <p>With this foreach loop of sorts, you can render specific properties of those objects you're looping through with simple syntax. Let's say you want to display the 
      URL of one of the objects.<p>
      <p><img src="images/tuturl.png"> displays the element 'url' for the tutorial that is currently being looped through.</p>
      <p>What if we want to display other items that are associated with it? Well it's easy.</p>
      <p><img src="images/tutauthor.png"> will display the author. <img src="images/tutdescription.png"> will display the description. How about the image?</p>
      <p>You can use Angular elements in HTML components just like you would with anything else. Let's display the image that is associated with an object.
          Use <img src="images/tutimage.png" /> to display the image that is associated with the URL for that tutorial's image property.</p>
          
          <h3 class="text-center">The rest is up to you</h3>
      <p>I've shown you what Angular can do and how to get it set up for this project. Now its up to you to display the tutorials in tutorials.json in
          an eye-appealing manner. I'll reference some links down in the About page that can help you add search and sort functionality and all in all just
          make your Angular application better! Good luck.</p>
</div>